html,
body {
  font-family: sans-serif, Verdana;
  margin: 0 auto;
  padding: 0 auto;
  height: 100%;
  background: #f3f3f3;
}

* {
  text-decoration: none;
}

.btn{
  background-color: inherit;
  border: 2px solid;
  border-radius: 6px;
  margin: 0.5em 0.5em;
  padding: 0.5em 0.5em;
 text-align: center;
 display: inline-block;
 font-size: 14px;
 cursor: pointer;
}
.btn-large{
  font-size: 20px;
  width: 15%;
}

.btn-long{
  width:50%;
}
.btn-success {
  border: 2px solid #5cb85c;
  color: #5cb85c;
}
.btn-success:hover{
  background-color: #5cb85c;
  color: #ffffff;
}
.btn-warning {
  border: 2px solid #dda330;
  color: #dda330;
}
.btn-warning:hover{
  background-color: #dda330;
  color: #ffffff;
}
.btn-danger {
  border: 2px solid #cd0d0d;
  color: #cd0d0d;
}
.btn-danger:hover{
  background-color: #cd0d0d;
  color: #ffffff;
}
.container {
  display: grid;
  grid-template-columns: 12% 76% 12%;
  grid-template-rows: 6vh 88vh 6vh;
}

.header,
.footer {
  padding: 0 0.5%;
  font-weight: bolder;
  background-color: #ffffff;
  grid-column: 1/-1;
}


.header-brand,
.login-heading
{
  color: #111111;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
  display: block;
  padding: 20px 0 0 20px;
}

.main {
  grid-column: 2/3;
}

.footer {
  text-align: center;
}

/* Login */
.login{
  height: auto;
  margin: 10% 5%;
  padding: 2em;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid rgba(#000000, 0.1);
}

.form-control{
  margin:15px 0 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 50%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #cccccc;
}
.form-control:focus{
    border-color: #4CAF50
}

.form-control::placeholder {
  color: #cccccc;
  font-size: 16px;
}

#remember-me{
font-size: 18px;
}
#remember-me input[checkbox]{
  transform: scale(2);
}
/* End of Login */
